
@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>
<h2><i>TEST</i></h2>
<p>This is <b>paragraph</b>.</p>

<p><a href="https://google.com"><b>Google</b></a></p>
<img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="GOOGLE ICON" />

<p>@DateTime.Now</p>

@{ 
    for (int i = 1; i <= 10; i++)
            {
                <p>@i</p>
            }
}